<?xml version="1.0"?>
<robot name="quadcopter">
  <link name="base_link">
    <!-- Visual representation using the DAE mesh file -->
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://multi_quadcopter_geometric_control/meshes/quad_model_v4.dae" scale="0.0014 0.0014 0.0014"/>
      </geometry>
    </visual>

    <!-- Collision representation using the DAE mesh file -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://multi_quadcopter_geometric_control/meshes/quad_model_v4.dae" scale="0.0014 0.0014 0.0014"/>
      </geometry>
    </collision>
  </link>
</robot>